<!--suppress ALL-->
<template>
  <div class="index">

    <a-layout id="layout" :class="layoutClass">
      <!-- 主页面的主体部分，将各个子任务排列显示 -->
      <a-layout style="padding-top: 84px;">
        <!-- <a-sider
            v-model="collapsed"
            mode="inline"
            breakpoint="md"
            collapsible
          >
            <a-icon
              class="trigger"
              :type="collapsed ? 'menu-unfold' : 'menu-fold'"
              @click="()=> collapsed = !collapsed"
            />
            <a-menu
              v-for="menu in menus"
              :key="menu.id.toString()"
              v-model="selectedKeys"
              :theme="theme"
              :open-keys="openKeys"
              mode="inline"
              @click="menuClick($event, menu)"
              @openChange="onOpenChange"
            >
              <a-menu-item
                v-if="!menu.children && !menu.is_inner && menu.node != '#'"
                :key="menu.id"
                :disabled="!menu.status"
              >
                <a-icon :type="menu.icon" />
                <span>{{ menu.title }}</span>
              </a-menu-item>
              <a-sub-menu
                v-if="menu.children && !menu.is_inner"
                :key="menu.id.toString()"
              >
                <span slot="title">
                  <a-icon :type="menu.icon" />
                  <span>{{ menu.title }}</span>
                </span>
                <a-menu-item
                  v-for="(secMenu,index) in activeSecMenu(menu)"
                  :key="secMenu.id.toString()"
                  :disabled="!secMenu.status"
                >
                  {{ secMenu.title }}
                </a-menu-item>
              </a-sub-menu>
            </a-menu>
          </a-sider> -->
        <a-layout
          class="main-content"
        >
          <vue-scroll ref="contentscroll">
            <a-layout-content>
              <transition name="router-fade" mode="out-in">
                <a-spin :spinning="false">
                  <router-view />
                </a-spin>
              </transition>
            </a-layout-content>
            <a-footer style="text-align: center">
              <template v-if="system">
                <span @click="footerClick">  Copyright © 2022 CETE-58 DSP研究室 </span>
              </template>
            </a-footer>
          </vue-scroll>
        </a-layout>
      </a-layout>
    </a-layout>
    <Socket v-if="config.WS_URI" ref="socket" />

    <v-uploader />
  </div>
</template>
<script>
// import state from '../store/state';
import { mapState } from 'vuex' // 对应的Vuex容器的创建是在index.js中进行的。
import ALayout from 'ant-design-vue/es/layout'
import HeaderNotice from '@/components/layout/header/HeaderNotice'
import HeaderAvatar from '@/components/layout/header/HeaderAvatar'
import HeaderSelect from '@/components/layout/header/HeaderSelect'
import VUploader from '@/components/tools/VUploader'
import Socket from '@/components/websocket/socket'
import config from '@/config/config' // 提供了地址参数配置 homepage socket地址 端口这些
import { notice } from '@/assets/js/notice'
// import { getStore } from '@/assets/js/storage'
// 被 xuth 进行了注释，后续有用到可以解放
import { _getOrgList } from '@/api/organization'

const ASider = ALayout.Sider
const AFooter = ALayout.Footer

export default {
  name: 'Index',
  components: {
    HeaderNotice,
    HeaderAvatar,
    HeaderSelect,
    ALayout,
    ASider,
    AFooter,
    Socket,
    VUploader
  },
  data() {
    return {
      menus: [],
      inline: 1,
      openKeys: [],
      openKeysTemp: [],
      selectedKeys: [],
      selectedModelKeys: [],
      breadCrumbInfo: [],
      config: config,
      online: 0
    }
  },
  computed: {
    // 这个是扩展运算符。
    // 扩展语法。对数组和对象而言，就是将运算符后面的变量里东西每一项拆下来。
    // 这个东西可以在函数定义的地方使用，比如使用func(...args)将函数传入的参数都放到args数组里。
    ...mapState({
      theme: state => state.theme,
      logged: state => state.logged,
      menu: state => state.menu.menu, // 这里其实是定位到了src/store/modules/menu.js/getStore('menu', true)
      system: state => state.system,
      pageLoading: state => state.pageLoading,
      windowLoading: state => state.windowLoading,
      organizationList: state => state.organizationList,
      socketAction: state => state.socketAction
    }),
    layoutClass() { // 切换样式
      let className = 'layout-' + this.theme
      if (!this.$route.meta.info.show_slider) {
        className += ' hide'
      }
      return className
    }
  },
  watch: {
    $route: function(to, from) {
      console.log('FROM: ', from)
      console.log('TO:', to)
      // this.checkLayout()
    },
    /*
    logged(val) {
      if (!val) {
        this.$router.push({ name: 'login' })
      }
    },
    */
    socketAction(val) {
      if (val.action === 'connect' || val.action === 'onClose') {
        this.online = val.data.online
      }
    }
  },
  created() {
    // this.checkLayout()
    if (this.$route.query.logged) {
      this.$store.dispatch('checkLogin')
    }
    if (this.$route.query.message) {
      notice({ title: this.$route.query.message }, 'notice')
      // notice(this.$route.query.message);
    }
    if (this.logged) {
      _getOrgList()
    }
  },
  destroyed() {
    console.log('destroyed')
    // this.socketAction ="onClose";
    // this.$refs.socket.websocketClose();
  },
  methods: {
    /**
     * 对template中存在的v-for与v-if同时使用避免渲染多余选项的部分进行了属性计算操作，进行了优化 xuth 20220907
     */
    activeSecMenu: function(menu) {
      // console.log("对menus中各个menu进行判断，找到secMenu：", menu.children);
      var arr = []
      menu.children.forEach(element => {
        if (!element.is_inner) {
          // console.log("找到需要的secMenu：", element.title);
          arr.push(element)
        }
      })
      return arr
    },

    footerClick() {
      // autoPlay('order');
      // socket被 xuth 进行了注释，后续有用到可以解放
      // const socket = this.$refs.socket;
      this.$websocket.send(JSON.stringify({ uid: this.$store.state.userInfo.id }))
    },
    /* checkLayout() {
      // 更新左侧菜单选中状态
      const that = this
      // const name = this.$route.name;被 xuth 进行了注释，后续有用到可以解放
      const path = this.$route.path
      const meta = this.$route.meta
      const info = this.$route.meta.info
      that.breadCrumbInfo = []
      that.breadCrumbInfo.push({ title: info.title, 'path': '/' + info.fullUrl })
      if (!info.is_inner) {
        that.openKeys = []
        that.selectedKeys = []
      }
      // 这里有点问题
      // if (!that.menus) {
      //     that.$store.dispatch('setBreadCrumbInfo', that.breadCrumbInfo);
      //     return false;
      // }
      let openKey = null

      function getArray(data, id) {
        data.forEach(function(v) {
          if (v.id == id) {
            openKey = v
          }
          if (v.children) {
            getArray(v.children, id)
          }
        })
      }

      // 递归找到当前路由的顶部菜单，然后更新左侧菜单
      if (meta.model) {
        getArray(that.menu, meta.model)
        if (!openKey) {
          return false
        }
        that.breadCrumbInfo.push({ title: openKey.title, 'path': '/' + openKey.fullUrl })
        openKey.pid && getArray(that.menu, openKey.pid)
      } else {
        getArray(that.menu, meta.info.id)
      }
      that.breadCrumbInfo.push({ title: openKey.title, 'path': '/' + openKey.fullUrl })
      this.selectedModelKeys = [openKey.id.toString()]
      if (!openKey.children) {
        that.menus = []
        return false
      }
      that.menus = openKey.children
      if (info.is_inner) {
        return false
      }
      that.menus.forEach(function(v) {
        if (v.pid == that.selectedModelKeys) {
          if (v.children) {
            v.children.forEach(function(v2) {
              if ('/' + v2.fullUrl == path) {
                that.selectedKeys.push(v2.id.toString())
                if (!that.collapsed) {
                  that.openKeys.push(v2.pid.toString())
                } else {
                  that.openKeysTemp = [v2.pid.toString()]
                }
              }
            })
          } else {
            that.selectedKeys.push(v.id.toString())
          }
        }
      })
      that.$store.dispatch('setBreadCrumbInfo', that.breadCrumbInfo)
    }, */
    /*
    menuClick(event, menu) {
      // 点击左侧导航跳转页面
      const that = this
      let openKeys = []
      if (!this.openKeys.length) {
        openKeys = [menu.id.toString()]
      } else {
        openKeys = JSON.parse(JSON.stringify(that.openKeys))
      }
      that.menus.forEach(function(v) {
        if (v.id == openKeys) {
          let turnPath = '/'
          if (v.children) {
            v.children.forEach(function(v2) {
              if (v2.id == event.key) {
                turnPath += v2.fullUrl
              }
            })
          } else {
            turnPath += v.fullUrl
          }
          that.$router.push(turnPath)
        }
      })
    },
    */
   /*
    menuModelClick(event) {
      // 点击顶部导航跳转页面
      const that = this
      that.menu.forEach(function(v) {
        if (v.id == event.key) {
          that.menus = v.children
          let turnPath = '/'
          if (!v.children) {
            turnPath += v.fullUrl
          } else if (!v.children[0].children) {
            turnPath += v.children[0].fullUrl
          } else {
            turnPath += v.children[0].children[0].fullUrl
          }
          if (turnPath == '/home') {
            that.toHome()
            return false
          }
          if (turnPath != '/#') {
            that.$router.push(turnPath)
          }
        }
      })
    },
    */
    onModelOpenChange(openKeys) {
      console.log(openKeys)
    },
    onOpenChange(openKeys) {
      const that = this
      const latestOpenKey = openKeys.find(key => this.openKeys.indexOf(key) === -1)
      let hasOpenKey = false
      this.menus.forEach(function(v) {
        if (v.id == latestOpenKey) {
          that.openKeys = latestOpenKey ? [latestOpenKey] : []
          hasOpenKey = true
        }
      })
      if (!hasOpenKey) {
        that.openKeys = openKeys
      }
    }
  }
}
</script>
<style lang="less">

</style>
