<template>
  <div class="project-space-files" :class="project.task_board_theme">
    <div class="project-navigation">
      <div class="project-nav-header-0">
        <a class="header-item">
          <project-select class="nav-title" style="display: inline-block" :code="code" />
          <span class="actions">
            <a-tooltip
              :mouse-enter-delay="0.3"
              :title="project.collected ? '取消收藏' : '加入收藏'"
              @click="collectProject"
            >
              <a-icon v-show="!project.collected" type="star" theme="filled" style="color: grey;" />
              <a-icon v-show="project.collected" type="star" theme="filled" style="color: #ffaf38;" />
              <span v-show="!project.collected"> 加入收藏 </span>
              <span v-show="project.collected"> 取消收藏 </span>
            </a-tooltip>
          </span>
          <span v-if="project.private === 0" class="label label-normal"><a-icon type="global" /> 公开</span>
        </a>
        <!-- <a-breadcrumb>
          <a-breadcrumb-item>
            <router-link to="/">
              <a-icon type="home" />
              首页
            </router-link>
          </a-breadcrumb-item>
          <a-breadcrumb-item>
            <project-select class="nav-title" style="display: inline-block" :code="code" />
            <span class="actions">
              <a-tooltip
                :mouse-enter-delay="0.3"
                :title="project.collected ? '取消收藏' : '加入收藏'"
                @click="collectProject"
              >
                <a-icon v-show="!project.collected" type="star" theme="filled" style="color: grey;" />
                <a-icon v-show="project.collected" type="star" theme="filled" style="color: #ffaf38;" />
              </a-tooltip>
            </span>
            <span v-if="project.private === 0" class="label label-normal"><a-icon type="global" /> 公开</span>
          </a-breadcrumb-item>
        </a-breadcrumb> xuth 20221011 取消原有的面包屑导航-->
      </div>
      <section class="nav-body">
        <ul class="nav-wrapper nav nav-underscore pull-left">
          <li><a
            class="app"
            data-app="tasks"
            @click="$router.push('/project/space/task/' + code)"
          >任务</a></li>
          <li class="actives"><a
            class="app"
            data-app="works"
            @click="$router.push('/project/space/files/' + code)"
          >
            文件</a>
          </li><li><a
            class="app"
            data-app="build"
            @click="$router.push('/project/space/overview/' + code)"
          >
            概览</a>
          </li>
          <li class=""><a
            class="app"
            data-app="build"
            @click="$router.push('/project/space/features/' + code)"
          >
            版本</a>
          </li>
        </ul>
      </section>
    </div>
    <wrapper-content :show-header="false">
      <div class="content-wrapper">
        <div class="content-item log-list">
          <div class="header">
            <span class="title">我的文件</span>
            <div class="header-actions">
              <!--<a><a-icon type="upload"></a-icon> 上传文件</a>-->
              <a-button id="upload-file" icon="up-circle" type="dashed">上传</a-button>
            </div>
          </div>
          <div class="list-content">
            <a-list
              :loading="loading"
            >
              <a-list-item class="list-item-title">
                <a-list-item-meta>
                  <div slot="title" class="muted">
                    名称
                  </div>
                </a-list-item-meta>
                <div class="other-info muted">
                  <div class="info-item">
                    <span>大小</span>
                  </div>
                  <div class="info-item">
                    <span>创建日期</span>
                  </div>
                  <div class="info-item">
                    <span>创建人</span>
                  </div>
                </div>
                <span v-for="item in 3" slot="actions" :key="item">
                  <span>位</span>
                </span>
              </a-list-item>
              <a-list-item v-for="(item, index) in files" :key="index" class="list-item">
                <a-list-item-meta>
                  <a-avatar slot="avatar" shape="square" icon="link" :src="item.file_url" />
                  <div slot="title">
                    <a-tooltip :mouse-enter-delay="0.3">
                      <template slot="title">
                        <span>{{ item.fullName }}</span>
                      </template>
                      <a-input
                        v-show="item.editing"
                        :ref="`inputTitle${index}`"
                        v-model="item.title"
                        :auto-focus="true"
                        @pressEnter="onCellChange(item)"
                        @blur="onCellChange(item)"
                      />
                      <a
                        v-show="!item.editing"
                        class="text-default"
                        target="_blank"
                        :href="item | showPreviewUrl"
                      >{{ item.fullName }}</a>
                    </a-tooltip>
                  </div>
                </a-list-item-meta>
                <div class="other-info muted">
                  <div class="info-item">
                    <span>{{ (formatSize(item.fsize)) }}</span>
                  </div>
                  <div class="info-item">
                    <a-tooltip :title="item.create_time">
                      <span>{{ formatTime(item.create_time) }}</span>
                    </a-tooltip>
                  </div>
                  <div class="info-item">
                    <span>{{ item.creatorName }}</span>
                  </div>
                </div>
                <span slot="actions">
                  <a-tooltip title="下载">
                    <a class="muted" target="_blank" :href="item.file_url"><a-icon type="download" /></a>
                  </a-tooltip>
                </span>
                <!-- <span slot="actions">
                                     <a-tooltip title="更新">
                                         <a-icon type="upload"/>
                                     </a-tooltip>
                                 </span>-->
                <span slot="actions" @click="editFile(item,index)">
                  <a-tooltip title="编辑">
                    <a-icon type="edit" />
                  </a-tooltip>
                </span>
                <a slot="actions" class="muted">
                  <a-dropdown :trigger="['click']" placement="bottomCenter">
                    <a-tooltip :mouse-enter-delay="0.5">
                      <template slot="title">
                        <span>更多操作</span>
                      </template>
                      <a class="action-item muted">
                        <a-icon type="down" />
                      </a>
                    </a-tooltip>
                    <a-menu
                      slot="overlay"
                      v-clipboard="item.file_url"
                      class="field-right-menu"
                      @click="doFile($event,item.code)"
                    >
                      <a-menu-item key="copy">
                        <a-icon type="link" />
                        <span>复制链接</span>
                      </a-menu-item>
                      <a-menu-item key="delete">
                        <a-icon type="delete" />
                        <span>移到回收站</span>
                      </a-menu-item>
                    </a-menu>
                  </a-dropdown>
                </a>
              </a-list-item>
              <div
                v-if="showLoadingMore"
                slot="loadMore"
                :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }"
              >
                <a-spin v-if="loadingMore" />
                <a-button v-else @click="onLoadMore">查看更多文件</a-button>
              </div>
            </a-list>
          </div>
        </div>
      </div>
    </wrapper-content>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import { read as getProject } from '@/api/project'
import { collect } from '@/api/projectCollect'
import {
  edit,
  list,
  recycle
} from '@/api/file'

import { checkResponse } from '@/assets/js/utils'
import { relativelyTime } from '@/assets/js/dateTime'
import { notice } from '@/assets/js/notice'

import pagination from '@/mixins/pagination'
import projectSelect from '@/components/project/projectSelect'

export default {
  name: 'ProjectSpaceFiles',
  components: {
    projectSelect
  },
  mixins: [pagination],
  data() {
    return {
      code: this.$route.params.code,
      loading: true,
      showLoadingMore: false,
      loadingMore: false,
      project: { task_board_theme: 'simple' },
      currentFileIndex: {},
      files: []
    }
  },
  computed: {
    ...mapState({
      uploader: state => state.common.uploader

    })
  },
  watch: {
    uploader: {
      handler(newVal, oldVal) {
        // 监听是否有上传文件行为
        const files = newVal.fileList
        const index = files.findIndex(item => item.projectName == this.project.name)
        if (index !== -1) {
          this.getFiles()
        }
      },
      deep: true
    }
  },
  created() {
    this.getProject()
    this.getFiles()
  },
  mounted() {
    setTimeout(() => {
      this.uploader.assignBrowse(document.getElementById('upload-file'))
    }, 500)
  },
  methods: {
    getProject() {
      this.loading = true
      getProject(this.code).then((res) => {
        this.loading = false
        this.project = res.data
        this.$store.dispatch('setTempData', {
          projectCode: this.project.code
        })
      })
    },
    getFiles(reset = true) {
      const app = this
      if (reset) {
        this.pagination.page = 1
        this.pagination.pageSize = 50
        this.showLoadingMore = false
      }
      app.requestData.projectCode = this.code
      app.requestData.deleted = 0
      list(app.requestData).then(res => {
        if (reset) {
          this.files = []
        }
        res.data.list.forEach((v) => {
          v.editing = false
        })
        app.files = app.files.concat(res.data.list)
        app.pagination.total = res.data.total
        app.showLoadingMore = app.pagination.total > app.files.length
        app.loading = false
        app.loadingMore = false
      })
    },
    onLoadMore() {
      this.loadingMore = true
      this.pagination.page++
      this.getFiles(false)
    },
    collectProject() {
      const type = this.project.collected ? 'cancel' : 'collect'
      collect(this.project.code, type).then((res) => {
        if (!checkResponse(res)) {
          return
        }
        this.project.collected = !this.project.collected
      })
    },
    editFile(file, index) {
      const app = this
      this.files.forEach((v) => {
        v.editing = false
      })
      this.files[index].editing = true
      this.$nextTick(() => {
        app.$refs[`inputTitle${index}`][0].focus()
      })
      this.currentFileIndex = index
    },
    onCellChange(file) {
      const currentFile = this.files[this.currentFileIndex]
      this.files.forEach((v) => {
        v.editing = false
      })
      const fullName = `${file.title}.${file.extension}`
      if (fullName != currentFile.fullName) {
        edit({ title: currentFile.title, fileCode: currentFile.code }).then(res => {
          const result = checkResponse(res)
          if (!result) {
            return false
          }
          currentFile.title = file.title
          currentFile.fullName = fullName
          notice({
            title: '重命名成功'
          }, 'notice', 'success')
        })
      }
    },
    doFile(action, fileCode) {
      const app = this
      const actionKey = action.key
      switch (actionKey) {
        case 'delete':
          this.$Antdconfirm({
            title: '移到回收站',
            content: `您确定要把该文件移到回收站吗？`,
            okText: '移到回收站',
            okType: 'danger',
            cancelText: `再想想`,
            onOk() {
              recycle(fileCode).then((res) => {
                const result = checkResponse(res)
                if (!result) {
                  return false
                }
                app.getFiles()
              })
              notice({
                title: '成功移到回收站',
                msg: '可在 菜单－查看回收站－文件 中查看'
              }, 'notice', 'success', 5)
              return Promise.resolve()
            }
          })
          break
        case 'copy':
          notice({
            title: '复制链接成功',
            msg: '在地址栏粘贴并打开可下载该资源'
          }, 'notice', 'success', 5)
          return true
      }
    },
    formatTime(time) {
      return relativelyTime(time)
    },
    formatSize(size) {
      let type = 'KB'
      size = size / 1024
      if (size >= 1024) {
        size /= 1024
        type = 'MB'
      }
      return `${size.toFixed(2)} ${type}`
    }
  }
}
</script>

<style lang="less">
    /*@import "../../../assets/css/components/task";*/

    .project-space-files {
        .project-navigation {
            top: 84px; // xuth 20221011 原先是65px，现在需要嵌入layout，上方的内容高度为84px，因此进行调整。 
            z-index: 4;
        }

        .wrapper-main {
            background: initial;

        }

        .layout-content {
            padding: 12px;
            width: 1100px;
            margin: 12px auto auto;
            background: initial;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .content-item {
                background: #fff;
                padding: 6px 0 18px 0;
                border-radius: 4px;

                .header {
                    padding: 12px 20px 6px 20px;
                    display: flex;
                    justify-content: space-between;

                    .title {
                        font-size: 18px;
                    }
                }
            }

            .content-wrapper {
                width: 100%;

                .log-list {
                    background: #fff;

                    .list-content {

                        .list-item-title {
                            padding: 10px 20px;

                            .ant-list-item-action {
                                li {
                                    color: #fff;
                                }

                                em {
                                    width: 0;
                                }
                            }
                        }

                        .list-item {
                            border-bottom: none;
                            margin-bottom: 2px;
                            /*border-bottom: 1px solid #f5f5f5;*/
                            padding: 10px 20px;
                            transition: background-color 218ms;

                            &:hover {
                                background-color: #f5f5f5;
                            }

                            .ant-list-item-meta-title {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                position: relative;
                                margin-bottom: 0;
                                line-height: 32px;
                            }

                            .ant-list-item-action {
                                em {
                                    width: 0;
                                }
                            }
                        }

                        .other-info {
                            display: flex;

                            .info-item {
                                display: flex;
                                flex-direction: column;
                                padding-left: 0;
                                width: 90px;
                                text-align: right;
                            }

                            .schedule {
                                width: 250px;
                            }
                        }
                    }
                }
            }

            .content-right {
                width: 325px;
            }
        }
    }
    /* xuth 20221011 创建project-nav-header-0样式，因为存在project-nav-header，在后缀+0. */
    /* header-0在最左侧显示，内部item如果采用header-item样式，右侧边框灰色实线*/
    .project-nav-header-0 {
      position: absolute;
      left: 0;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 998;

      .header-item {
        font-size: 14px;
        position: relative;
        padding: 6px 10px;
        margin: 0 5px;
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
        float: right;
        display: inline-block;
        text-align: center;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: grey;
      }
    }
</style>
