<template>
  <div class="project-space-overview" :class="project.task_board_theme">
    <div class="project-navigation">
      <div class="project-nav-header-0">
        <a class="header-item">
          <project-select class="nav-title" style="display: inline-block" :code="code" />
          <span class="actions">
            <a-tooltip
              :mouse-enter-delay="0.3"
              :title="project.collected ? '取消收藏' : '加入收藏'"
              @click="collectProject"
            >
              <a-icon v-show="!project.collected" type="star" theme="filled" style="color: grey;" />
              <a-icon v-show="project.collected" type="star" theme="filled" style="color: #ffaf38;" />
              <span v-show="!project.collected"> 加入收藏 </span>
              <span v-show="project.collected"> 取消收藏 </span>
            </a-tooltip>
          </span>
          <span v-if="project.private === 0" class="label label-normal"><a-icon type="global" /> 公开</span>
        </a>
        <!-- <a-breadcrumb>
          <a-breadcrumb-item>
            <router-link to="/">
              <a-icon type="home" />
              首页
            </router-link>
          </a-breadcrumb-item>
          <a-breadcrumb-item>
            <project-select class="nav-title" style="display: inline-block" :code="code" />
            <span class="actions">
              <a-tooltip
                :mouse-enter-delay="0.3"
                :title="project.collected ? '取消收藏' : '加入收藏'"
                @click="collectProject"
              >
                <a-icon v-show="!project.collected" type="star" theme="filled" style="color: grey;" />
                <a-icon v-show="project.collected" type="star" theme="filled" style="color: #ffaf38;" />
              </a-tooltip>
            </span>
            <span v-if="project.private === 0" class="label label-normal"><a-icon type="global" /> 公开</span>
          </a-breadcrumb-item>
        </a-breadcrumb> xuth 20221011 取消原有的面包屑导航-->
      </div>
      <section class="nav-body">
        <ul class="nav-wrapper nav nav-underscore pull-left">
          <li><a
            class="app"
            data-app="tasks"
            @click="$router.push('/project/space/task/' + code)"
          >任务</a></li>
          <li class=""><a
            class="app"
            data-app="works"
            @click="$router.push('/project/space/files/' + code)"
          >
            文件</a></li>
          <li class="actives"><a
            class="app"
            data-app="build"
            @click="$router.push('/project/space/overview/' + code)"
          >
            概览</a>
          </li>
          <li class=""><a
            class="app"
            data-app="build"
            @click="$router.push('/project/space/features/' + code)"
          >
            版本</a>
          </li>
        </ul>
      </section>
    </div>
    <wrapper-content :show-header="false">
      <div class="overview-item m-b">
        <!-- 任务燃尽图
                <div class="content-item">
                    <h3 class="m-sm m-b text-center">任务燃尽图</h3>
                    <a-spin :spinning="burnoutMap.loading">
                        <ve-line
                                v-if="!burnoutMap.loading"
                                :data="burnoutMap.chartData"
                                :settings="burnoutMap.chartSettings"
                                :extend="burnoutMap.chartExtend"
                                :series="burnoutMap.series"
                                :legend-visible="false"
                                height="200px"
                        ></ve-line>
                    </a-spin>
                </div>
                -->
        <div class="gantt-container">
          <div class="div_left">
            <!--<el-row>

                        <el-col :span="6">-->
            <div class="gantt-tasks" align="left">
              <div class="tasks-header">
                <span>GANTT</span>
              </div>
              <div
                v-for="(item, index) in tasks"
                :id="'task-item-' + item.id"
                :key="index"
                :class="{'fill-bg': (index % 2 !== 0), 'task-item': true}"
              >
                {{ item.name }}
              </div>
            </div>
          </div>
          <!--</el-col>-->

          <div class="div_right">
            <!--<el-col :span="18">-->
            <!--甘特图-->
            <div class="gantt-target" />
            <!--</el-col>-->
          </div>
          <!--</el-row>-->
        </div>
      </div>
      <div class="overview-item">
        <div class="content-left">
          <div class="content-item log-list">
            <div class="title">
              项目信息
              <a-tooltip :mouse-enter-delay="0.5">
                <template slot="title">
                  <span>添加信息</span>
                </template>
                <a class="pull-right muted" @click="createInfo()">
                  <a-icon type="plus-circle" />
                </a>
              </a-tooltip>
            </div>
            <div class="list-content">
              <a-list>
                <a-list-item v-for="(item, index) in projectInfoList" :key="index">
                  <a-list-item-meta>
                    <div slot="title">
                      <a-tooltip :mouse-enter-delay="0.5">
                        <template slot="title">
                          <span>{{ item.description ? item.description : '暂无描述' }}</span>
                        </template>
                        <span>{{ item.name }} </span>
                      </a-tooltip>
                      <!--                                            <span class="right-item muted"> {{ formatTime(item.create_time) }}-->
                      <!--                                        </span>-->
                    </div>
                    <div slot="description">
                      {{ item.value }}
                    </div>
                  </a-list-item-meta>
                  <span slot="actions" @click="editInfo(item)">
                    <a-tooltip title="编辑">
                      <a-icon type="edit" />
                    </a-tooltip>
                  </span>
                  <span slot="actions" @click="delInfo(item,index)">
                    <a-tooltip title="删除">
                      <a-icon type="delete" />
                    </a-tooltip>
                  </span>
                </a-list-item>
              </a-list>
            </div>
          </div>
          <div class="content-item log-list">
            <div class="title">
              项目动态
            </div>
            <div class="list-content">
              <a-list>
                <div
                  v-if="showLoadingMore"
                  slot="loadMore"
                  :style="{ textAlign: 'center', marginTop: '12px', height: '32px', lineHeight: '32px' }"
                >
                  <a-spin v-if="loadingMore" />
                  <a-button v-else @click="onLoadMore">查看更多动态</a-button>
                </div>
                <a-list-item v-for="(item, index) in activities" :key="index">
                  <a-list-item-meta>
                    <a-avatar slot="avatar" :src="item.member_avatar" />
                    <div slot="title">
                      <span>{{ item.member_name }} </span>
                      <span v-if="item.is_comment == 0"> <span
                        v-html="item.remark "
                      /></span>&nbsp;
                      <template v-if="item.is_comment == 1">发表了评论
                        <p class="comment-text">{{ item.content }}</p>
                      </template>
                      <span class="right-item muted"> {{ formatTime(item.create_time) }}
                      </span>
                    </div>
                    <div slot="description">
                      <template v-if="item.action_type == 'task'">
                        <router-link
                          class="muted"
                          :to="`/project/space/task/${item.project_code}/detail/${item.source_code}`"
                        >
                          {{ item.sourceInfo.name }}
                        </router-link>
                      </template>
                      <template v-if="item.action_type == 'project'">
                        <span v-html="item.content" />
                      </template>
                    </div>
                  </a-list-item-meta>
                </a-list-item>
              </a-list>
            </div>
          </div>
        </div>
        <div class="content-right">
          <div class="content-item">
            <div class="list-content">
              <div class="default-list">
                <a-list>
                  <a-list-item v-for="(item, index) in [project]" :key="index">
                    <a-list-item-meta>
                      <a-avatar slot="avatar" :src="item.cover" />
                      <div slot="title">
                        <span>{{ item.name }}</span>
                      </div>
                      <div slot="description">
                        {{ item.owner_name }} 创建于
                        {{ moment(item.create_time).format('YYYY年MM月DD日') }}
                      </div>
                    </a-list-item-meta>
                  </a-list-item>
                </a-list>
              </div>
            </div>
            <p class="">{{ project.description }}</p>
            <div class="project-date m-b-lg m-t-lg">
              <div class="muted m-b-xs">
                <a-tag color="green">项目周期</a-tag>
              </div>
              <a-range-picker
                v-model="projectDate"
                format="YYYY年MM月DD日"
                @change="ondateChange"
              />
            </div>
            <div class="project-stats m-b-lg">
              <div class="muted m-b-xs">
                <a-tag color="green">项目统计</a-tag>
              </div>
              <div class="stats-content">
                <div v-for="(stats, index) in projectStats" :key="index" class="stats-item">
                  <div>{{ stats.title }}</div>
                  <div class="stats-number">{{ stats.number }}</div>
                  <a-tooltip
                    placement="right"
                    :mouse-enter-delay="0.3"
                    :title="`${stats.schedule}%`"
                  >
                    <a-progress
                      stroke-color="#1890ff"
                      :stroke-width="3"
                      :show-info="false"
                      :percent="stats.schedule"
                    />
                  </a-tooltip>
                </div>
              </div>
            </div>
            <div>
              <div class="muted">
                <a-tag color="green">新增任务趋势</a-tag>
              </div>
              <ve-line
                :data="chartData"
                :settings="chartSettings"
                :extend="chartExtend"
                :legend-visible="false"
                height="200px"
              />
            </div>
          </div>
        </div>
      </div>
    </wrapper-content>
    <!--项目信息-->
    <a-modal
      v-model="infoModal.modalStatus"
      class="project-info"
      :width="400"
      :title="infoModal.modalTitle"
      :confirm-loading="infoModal.loading"
      @ok="handleSubmit"
    >
      <a-form
        :form="infoModal.form"
        @submit.prevent="handleSubmit"
      >
        <a-form-item>
          <a-input
            v-decorator="[
              'name',
              {rules: [{ required: true, message: '请输入名称' }]}
            ]"
            placeholder="名称"
          />
        </a-form-item>
        <a-form-item>
          <a-textarea
            v-decorator="['value']"
            placeholder="内容"
            :rows="2"
          />
        </a-form-item>
        <a-form-item>
          <a-textarea
            v-decorator="['description']"
            placeholder="描述"
            :rows="2"
          />
        </a-form-item>
        <a-form-item />
      </a-form>
    </a-modal>
  </div>
</template>

<script>
import moment from 'moment'
import VeLine from 'v-charts/lib/line.common'
import { _projectStats, doData, read as getProject, getTaskWithBeginEnd as getTasks } from '../../../api/project'
import { doData as doInfo, list as getInfoList, del as delProjectInfo } from '../../../api/projectInfo'
import { collect } from '../../../api/projectCollect'
import { checkResponse } from '../../../assets/js/utils'
import { getLogBySelfProject, dateTotalForProject } from '../../../api/task'
import { relativelyTime } from '../../../assets/js/dateTime'
import pagination from '../../../mixins/pagination'
import projectSelect from '@/components/project/projectSelect'
import Gantt from '../../../assets/js/gannt/frappe-gantt'
import { reactive, onMounted, toRefs } from 'vue'

export default {
  name: 'ProjectSpaceOverview',
  components: {
    VeLine,
    projectSelect
  },
  mixins: [pagination],

  /**
         * 这里是我新添加的内容，对setup生命周期进行片配置。
         * 注意，这里不能进行甘特图和数据库读取的异步操作，容易导致
         * 甘特图无事可做。
         */
  setup() {
    const vueConfig = reactive({
      tasks: [],
      gantt: null })

    // 当处于onMounted过程中时
    onMounted(() => {
      var tasklist = []
      console.log(this.$data.code)
      getTasks(this.$data.code).then((res) => {
        tasklist = res.data
        if (tasklist != null) {
          tasklist.forEach(element => {
            var task = {
              id: element.code,
              name: element.name,
              start: element.begin_time,
              end: element.end_time,
              progress: 100,
              dependencies: element.pcode
            }

            vueConfig.tasks.push(task)
          })
        }
        console.log(vueConfig.tasks)
        // return Promise.resolve();
        const gantt = new Gantt('.gantt-target', vueConfig.tasks,
          {
            view_mode: 'Day',
            language: 'zh'
          }
        )
        console.log('gantt111', gantt)
      })
    })

    return {
      ...toRefs(vueConfig)
    }
  },
  data() {
    return {
      code: this.$route.params.code,
      loading: true,
      project: { task_board_theme: 'simple' },
      projectDate: [],
      activities: [],
      projectInfoList: [],
      showLoadingMore: false,
      loadingMore: false,
      infoModal: {
        form: this.$form.createForm(this),
        newData: {
          code: ''
        },
        loading: false,
        modalStatus: false,
        modalTitle: '项目信息'
      },
      tasks: [],
      // gannttasks: [],
      /* burnoutMap: {
                    loading: true,
                    chartData: {
                        columns: ['日期', '实际剩余任务', '理想剩余任务'],
                        rows: []
                    },
                    series: [
                        {
                            type: 'line',
                            name: '实际剩余任务',
                            smooth: false,
                            color: '#1890ff',
                            data: [],
                        },
                        {
                            type: 'line',
                            name: '理想剩余任务',
                            color: '#52C41A',
                            smooth: false,
                            lineStyle: {
                                type: 'dashed'
                            },
                            data: []
                        },
                    ],
                    chartSettings: {},
                    chartExtend: {
                        grid: {
                            left: '5',
                            right: '20',
                            top: '10',
                            bottom: '0'
                        },
                        xAxis: {
                            show: true,
                            // boundaryGap: false,
                            splitLine: {
                                show: false
                            }
                        },
                        yAxis: {
                            show: true,
                            splitLine: {
                                show: true,
                                lineStyle: {
                                    type: 'dashed',
                                    color: ['#e4e4e4']
                                }
                            }
                        },
                        tooltip: {
                            backgroundColor: '#fff',
                            textStyle: {
                                color: '#333'
                            },
                            borderWidth: 1,
                            borderColor: '#e8e8e8',
                        },
                        axisPointer: {
                            lineStyle: {
                                width: 0
                            }
                        }
                    }
                }, */
      chartData: {
        columns: ['日期', '任务'],
        rows: []
      },
      chartSettings: {
        area: true,
        itemStyle: {
          color: '#1890ff'
        },
        areaStyle: {
          color: '#e6f7ff'
        }
      },
      chartExtend: {
        grid: {
          left: '-20',
          right: '0',
          top: '10',
          bottom: '0'
        },
        xAxis: {
          show: false
        },
        yAxis: {
          show: false
        },
        tooltip: {
          backgroundColor: '#fff',
          textStyle: {
            color: '#333'
          },
          borderWidth: 1,
          borderColor: '#e8e8e8'
        },
        axisPointer: {
          lineStyle: {
            width: 0
          }
        }
      },

      projectStats: [
        {
          title: '未完成',
          key: 'unDone',
          number: 0,
          schedule: 0
        },
        {
          title: '已完成',
          key: 'done',
          number: 0,
          schedule: 0
        },
        {
          title: '已逾期',
          key: 'overdue',
          number: 0,
          schedule: 0
        },
        {
          title: '待认领',
          key: 'toBeAssign',
          number: 0,
          schedule: 0
        },
        {
          title: '今日到期',
          key: 'expireToday',
          number: 0,
          schedule: 0
        },
        {
          title: '逾期完成',
          key: 'doneOverdue',
          number: 0,
          schedule: 0
        }
      ]
    }
  },

  created() {
    this.getProject()
    this.init()
  },
  methods: {
    moment,
    init() {
      this.getProjectInfoList()
      this.getProjectLog()
      this.overviewForProject()
      this.getProjectStats()
      // this.getProjectReport();
      this.createTasks()
    },
    getProject() {
      this.loading = true
      getProject(this.code).then((res) => {
        this.loading = false
        this.project = res.data
        if (this.project.begin_time) {
          this.projectDate = [moment(this.project.begin_time), moment(this.project.end_time)]
        }
      })
    },
    /*
            getProjectReport() {
                let app = this;
                _getProjectReport({projectCode: this.code}).then(res => {
                    let rows = [];
                    res.data.date.forEach((v) => {
                        rows.push({'日期': v})
                    });
                    //app.burnoutMap.loading = false;
                    //app.burnoutMap.chartData.rows = rows;
                    //app.burnoutMap.series[0].data = res.data.undoneTask;
                    //app.burnoutMap.series[1].data = res.data.baseLineList;

                });
            },*/
    getProjectLog(reset = true) {
      const app = this
      if (reset) {
        app.pagination.page = 1
        app.pagination.pageSize = 20
        app.showLoadingMore = false
      }
      this.requestData.projectCode = this.code
      getLogBySelfProject(this.requestData).then(res => {
        const list = []
        res.data.list.forEach((item) => {
          list.push(item)
          // 只显示任务的完成动态
          // if (item.action_type === 'task') {
          //     if ((item.type === 'done' || item.type === 'redo')) {
          //         list.push(item);
          //     }
          // } else {
          //     list.push(item);
          // }
        })
        if (reset) {
          app.activities = []
        }
        app.activities = app.activities.concat(list)
        app.pagination.total = res.data.total
        app.showLoadingMore = app.pagination.total > app.activities.length
        app.loading = false
        app.loadingMore = false
      })
    },
    getProjectInfoList() {
      const app = this
      getInfoList({ projectCode: app.code }).then(res => {
        app.projectInfoList = res.data
      })
    },
    getProjectStats() {
      _projectStats({
        projectCode: this.code
      }).then(res => {
        const taskStats = res.data
        const total = taskStats['total']
        this.projectStats.forEach((v, k) => {
          v.number = taskStats[v.key]
          if (total) {
            v.schedule = parseInt(v.number / total * 100)
          }
        })
      })
    },
    onLoadMore() {
      this.loadingMore = true
      this.pagination.page++
      this.getProjectLog(false)
    },
    overviewForProject() {
      dateTotalForProject({ projectCode: this.code }).then(res => {
        const list = []
        res.data.forEach((v) => {
          list.push({
            '日期': moment(v.date).format('M月D日'),
            '任务': v.total
          })
        })
        this.chartData.rows = list
      })
    },
    createInfo() {
      const app = this
      app.infoModal.newData = { code: '' }
      setTimeout(function() {
        app.infoModal.form && app.infoModal.form.resetFields()
      }, 0)
      app.infoModal.modalStatus = true
      app.infoModal.modalTitle = '添加字段'
    },
    editInfo(info) {
      const app = this
      app.infoModal.newData = info
      app.infoModal.modalStatus = true
      setTimeout(function() {
        app.infoModal.modalTitle = '编辑字段'
        app.infoModal.form.setFieldsValue({
          name: info.name,
          value: info.value,
          description: info.description
        })
      }, 0)
    },
    delInfo(info, index) {
      const app = this
      app.$confirm({
        title: '确定删除当前字段吗？',
        okText: '删除',
        okType: 'danger',
        cancelText: '再想想',
        onOk() {
          delProjectInfo({ infoCode: info.code }).then(() => {
            app.projectInfoList.splice(index, 1)
            // app.init();
          })
          return Promise.resolve()
        }
      })
    },
    handleSubmit() {
      const app = this
      app.infoModal.form.validateFields(
        (err) => {
          if (!err) {
            app.handleOk()
          }
        })
    },
    handleOk() {
      const app = this
      app.infoModal.loading = true
      const obj = app.infoModal.form.getFieldsValue()
      if (app.infoModal.newData.code) {
        // 编辑
        obj.infoCode = app.infoModal.newData.code
      } else {
        // 新增
        Object.assign(obj, app.infoModal.newData)
      }
      obj.projectCode = app.code
      console.log('overview.vue.handleOk()', obj)
      doInfo(obj).then(res => {
        app.infoModal.loading = false
        if (!checkResponse(res)) {
          return
        }
        app.infoModal.form.resetFields()
        app.infoModal.newData = { code: 0 }
        app.infoModal.modalStatus = false
        app.getProjectInfoList()
      })
    },
    collectProject() {
      const type = this.project.collected ? 'cancel' : 'collect'
      collect(this.project.code, type).then((res) => {
        if (!checkResponse(res)) {
          return
        }
        this.project.collected = !this.project.collected
      })
    },
    ondateChange(e) {
      console.log('overview.vue.ondateChange(e)', e)
      const project = this.project
      doData({
        projectCode: project.code,
        begin_time: e.length ? e[0].format('YYYY-MM-DD') : '',
        end_time: e.length ? e[1].format('YYYY-MM-DD') : ''
      })
    },
    formatTime(time) {
      return relativelyTime(time)
    },

    createTasks() {
      const app = this
      getTasks(this.code).then((res) => {
        app.tasks = res.data
      })
    }
  }
}
</script>

<style lang="less">
    /*@import "../../../assets/css/components/task";*/
    @import'../../../assets/js/gannt/frappe-gantt.css';

    .div_left {
        float:left;
        width: 15%;
    }

    .div_right {
        float:left;
        width: 80%;
    }

    .gantt-container {
        background-color: transparent;
    }
    .gantt-tasks {
        background-color: #fff;
        border-top: 1px solid #F5F7F8;
        border-right: 1px solid #000;
    }
    .task-item {
        height: 38px;
        font-size: 14px;
        padding-left: 15px;
        border-bottom: 2px solid #f5f5f5;
        line-height: 38px;
    }
    .tasks-header {
        height: 60px;
        padding-left: 15px;
        line-height: 60px;
        border-bottom: 2px solid #E9E9E9;
    }
    .details-container {
        width: 200px;
    }
    .fill-bg {
        background-color: #f5f5f5;
    }
    .task-date .el-date-editor {
        width: 100%;
        margin-top: 5px;
        border-bottom: none;
    }
    .task-name {
        color: #000;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 90%;
        text-align: left;
    }
    .task-name:hover {
        color: #8FBC8F;
    }
    .task-progress {
        margin-top: 5px;
    }

    .project-info {
        .ant-modal-body {
            padding-bottom: 0;
        }
    }

    .project-space-overview {
        .project-navigation {
            top: 84px; // xuth 20221011 原先是65px，现在需要嵌入layout，上方的内容高度为84px，因此进行调整。
            z-index: 4;
        }

        .wrapper-main {
            background: initial;

        }

        .layout-content {
            padding: 12px;
            width: 1100px;
            margin: 12px auto auto;
            background: initial;

            .overview-item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .content-item {
                background: #fff;
                padding: 6px 18px 18px 18px;
                border-radius: 4px;
                width: 100%;

                .title {
                    font-size: 16px;
                    padding: 6px 0 0 0;
                }
            }

            .content-left {
                width: 730px;

                .log-list {
                    background: #fff;
                    margin-bottom: 15px;

                    .list-content {
                        padding-top: 12px;

                        .ant-list-item-meta-title {
                            position: relative;
                        }

                        .right-item {
                            float: right;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }

            .content-right {
                width: 325px;

                .project-date {
                    .ant-calendar-picker {
                        border: none;

                        &:focus {
                            border: none;
                        }

                    }

                    .ant-calendar-picker-input {
                        border: none;
                    }
                }

                .project-stats {
                    .stats-content {
                        display: flex;
                        flex-wrap: wrap;

                        .stats-item {
                            width: 80px;
                            /*height: 100px;*/
                            margin-right: 16px;
                            margin-bottom: 16px;
                            padding: 12px;

                            .stats-number {
                                /*font-weight: bold;*/
                                font-size: 32px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* xuth 20221011 创建project-nav-header-0样式，因为存在project-nav-header，在后缀+0. */
    /* header-0在最左侧显示，内部item如果采用header-item样式，右侧边框灰色实线*/
    .project-nav-header-0 {
      position: absolute;
      left: 0;
      top: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 50px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 998;

      .header-item {
        font-size: 14px;
        position: relative;
        padding: 6px 10px;
        margin: 0 5px;
        margin-top: 0px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 5px;
        float: right;
        display: inline-block;
        text-align: center;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: grey;
      }
    }
</style>
