<template>
  <div class="project-list-index">
    <wrapper-content :show-header="false">
      <!-- 创建新项目的摁钮 -->
      <div class="action">
        <a-button
          type="primary"
          icon="plus"
          @click="doAction(null, 'new')"
        >创建新项目</a-button>
      </div>

      <!-- 展示当前的projects，每条project都会有名称，进度条，以及一些列功能矢量图构成 -->
      <template>
        <a-table
          :data-source="dataSource"
          :columns="columns"
          children-column-name="children"
          :loading="loading"
          row-key="code"
        >
          <!-- project的名称显示 -->
          <!-- 这里的slot和slot-scope都是 a-table这一标签默认的格式，text是单一单元格的内容，record是这一行的数据，index则是序列 -->
          <template slot="name" slot-scope="text, record, index">
            <!-- 这里是创建可以路由到项目下任务展示界面的project名称 -->
            <router-link :to="'/project/space/task/' + record.code">{{
              record.name
            }}</router-link>
            <!--            <a-tag color="green" class="m-l" v-show="!item.privated">公开</a-tag>-->
            <a-tag v-show="record.privated == 0" color="green" class="m-l">公开</a-tag>
          </template>

          <!-- project的进度条展示 -->
          <template slot="schedule" slot-scope="text, record, index">
            <div class="info-item schedule">
              <a-progress :stroke-width="5" :percent="record.schedule" />
            </div>
          </template>

          <!-- project的功能矢量图，目前是添加成员功能，删除项目功能，项目设置功能呢，加入/取消收藏功能(移除)-->
          <template slot="action" slot-scope="text, record, index">
            <span slot="actions" @click="inviteProjectMember(record)">
              <a-tooltip title="添加成员">
                <a-icon type="user-add" />
              </a-tooltip>
            </span>
            <a-divider type="vertical" />

            <a-icon
              slot="actions"
              type="delete"
              @click="doAction(record, 'del', index)"
            />

            <a-divider type="vertical" />
            <span slot="actions" @click="doAction(record, 'edit', index)">
              <a-tooltip title="项目设置">
                <a-icon type="setting" />
              </a-tooltip>
            </span>
            <a-divider type="vertical" />

            <span slot="actions">
              <a-tooltip
                :title="record.collected ? '取消收藏' : '加入收藏'"
                @click="doAction(record,'collect',index)"
              >
                <a-icon v-show="!record.collected" type="star" />
                <a-icon
                  v-show="record.collected"
                  type="star"
                  theme="filled"
                  style="color: #ffaf38;"
                />
              </a-tooltip>
            </span>
          </template>
        </a-table>
      </template>
    </wrapper-content>

    <!-- 这是创建新项目的弹窗 -->
    <a-modal
      v-model="actionInfo.modalStatus"
      destroy-on-close
      :width="360"
      :title="actionInfo.modalTitle"
      :body-style="{ paddingBottom: '1px' }"
      :footer="null"
    >
      <a-form :form="form" @submit.prevent="handleSubmit">
        <a-form-item>
          <a-input
            v-decorator="[
              'name',
              { rules: [{ required: true, message: '请输入项目名称' }] },
            ]"
            placeholder="项目名称（必填）"
          />
        </a-form-item>
        <a-form-item>
          <a-select v-decorator="['templateCode']" placeholder="项目模板">
            <a-select-option :key="0">空白项目</a-select-option>
            <a-select-option v-for="template in templateList" :key="template.code">{{ template.name }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item>
          <a-select v-decorator="['code']" placeholder="等级">
            <a-select-option v-for="p1 in dataSource" :key="p1.code">{{
              p1.name
            }}</a-select-option>
          </a-select>
        </a-form-item>

        <a-form-item>
          <a-textarea v-decorator="['description']" placeholder="项目简介" :rows="2" />
        </a-form-item>
        <a-form-item>
          <div class="action-btn">
            <a-button
              type="primary"
              html-type="submit"
              block
              size="large"
              :loading="actionInfo.confirmLoading"
              class="middle-btn"
            >完成并创建</a-button>
          </div>
        </a-form-item>
      </a-form>
    </a-modal>

    <a-modal
      v-model="projectModal.modalStatus"
      destroy-on-close
      class="project-config-modal"
      :width="800"
      :title="projectModal.modalTitle"
      :footer="null"
    >
      <project-config :code="currentProjectCode" @update="updateProject" />
    </a-modal>

    <invite-project-member
      v-if="showInviteMember"
      v-model="showInviteMember"
      :project-code="currentProjectCode"
    />
  </div>
</template>

<script>
import inviteProjectMember from '@/components/project/inviteProjectMember'
import projectConfig from '@/components/project/projectConfig'
import { checkResponse } from '@/assets/js/utils'
import pagination from '@/mixins/pagination'
import moment from 'moment'
import { list, doData, recycle } from '@/api/project'
import { collect } from '@/api/projectCollect'
import { list as projectTemplates } from '@/api/projectTemplate'

/**
 * 这里就是对a-table中定义的 :columns="columns"进行填充
 * 定义的就是列表中每一列的表头，title就是现实的表头，dataIndex是
 * 指这一列对应的是数据源中那一项数据。customRender是指对该列数据
 * 进行处理，width指列的宽度
 */
const columns = [
  {
    key: 'name',
    title: '项目名称',
    dataIndex: 'name',
    width: '15%',
    scopedSlots: {
      customRender: 'name'
    }
  },
  {
    key: 'create_time',
    title: '创建日期',
    dataIndex: 'create_time',
    width: '20%'
    // scopedSlots: {
    //   customRender: "create_time",
    // },
  },
  {
    key: 'schedule',
    title: '项目进度',
    dataIndex: 'schedule',
    width: '20%',
    scopedSlots: {
      customRender: 'schedule'
    }
  },
  {
    key: 'action',
    title: '操作',
    dataIndex: 'action',
    scopedSlots: {
      customRender: 'action'
    }
  }
]

export default {
  components: {
    inviteProjectMember,
    projectConfig
  },
  mixins: [pagination],
  data() {
    return {
      columns,
      dataSource: [],
      loading: true,
      showLoadingMore: false,
      loadingMore: false,
      showInviteMember: false,
      currentProject: {},
      currentProjectCode: 0,
      currentProjectIndex: 0,
      newData: {
        code: ''
      },
      form: this.$form.createForm(this),
      searchForm: {},
      actionInfo: {
        modalStatus: false,
        confirmLoading: false,
        modalTitle: '编辑项目'
      },
      /* 项目设置*/
      projectModal: {
        modalStatus: false,
        modalTitle: '项目设置'
      },
      templateList: []
    }
  },
  watch: {
    $route: function() {
      this.init()
    }
  },
  created() {
    this.init()
    this.projectTemplates()
  },
  methods: {
    moment,
    init(reset = true) {
      const app = this
      if (reset) {
        this.dataSource = []
        this.pagination.page = 1
        this.pagination.pageSize = 1000
        this.showLoadingMore = false
      }
      this.requestData.type = this.$route.params.type
      app.loading = true
      // TODO 为了测试，将原有逻辑变更为直接获取数据，后续需要变回去。xuth 20221008
      list(app.requestData).then((res) => {
        app.dataSource = app.dataSource.concat(res.data.list)
        console.log(app.dataSource)
        app.pagination.total = res.data.total
        app.showLoadingMore = app.pagination.total > app.dataSource.length
        app.loading = false
        app.loadingMore = false
      })
      /* app.dataSource = list(app.requestData)
      console.log(app.dataSource)
      app.pagination.total = 6
      app.showLoadingMore = app.pagination.total > app.dataSource.length
      app.loading = false
      app.loadingMore = false */
    },
    projectTemplates() {
      projectTemplates({ pageSize: 100, viewType: -1 }).then(res => {
        this.templateList = res.data.list
      })
    },
    onLoadMore() {
      this.loadingMore = true
      this.pagination.page++
      this.init(false)
    },
    inviteProjectMember(item) {
      this.currentProject = item
      this.currentProjectCode = item.code
      this.showInviteMember = true
    },
    // 根据action的类型，执行不同的操作
    // 目前的action可以是new，edit，del
    doAction(record, action, index) {
      this.currentProject = record
      this.currentProjectIndex = index
      const app = this
      app.newData = { id: 0 }
      if (action == 'new') {
        setTimeout(function() {
          app.form && app.form.resetFields()
        }, 0)
        app.actionInfo.modalStatus = true
        app.actionInfo.modalTitle = '创建项目'
      } else if (action == 'edit') {
        app.currentProjectCode = record.code
        app.projectModal.modalStatus = true
      } else if (action == 'del') {
        this.$Antdconfirm({
          title: '确定放入回收站？',
          content: `一旦将项目「${this.currentProject.name}」放入回收站，所有与项目有关的信息将会被放入回收站`,
          okText: '放入回收站',
          okType: 'danger',
          cancelText: '再想想',
          onOk() {
            recycle(record.code).then(() => {
              app.dataSource.splice(index, 1)
              // app.init();
            })
            return Promise.resolve()
          }
        })
      } else if (action == 'collect') {
        const type = record.collected ? 'cancel' : 'collect'
        collect(record.code, type).then(() => {
          app.$set(app.dataSource[index], 'collected', !record.collected)
          if (this.requestData.type == 'collect') {
            app.dataSource.splice(index, 1)
          }
        })
      }
    },
    updateProject(data) {
      this.dataSource[this.currentProjectIndex] = JSON.parse(JSON.stringify(data))
    },
    handleSubmit() {
      const app = this
      app.form.validateFields((err) => {
        if (!err) {
          app.handleOk()
        }
      })
    },
    handleOk() {
      const app = this
      app.actionInfo.confirmLoading = true
      const obj = app.form.getFieldsValue()
      if (app.newData.code) {
        // 编辑
        obj.projectCode = app.newData.code
      } else {
        // 新增
        Object.assign(obj, app.newData)
        // 设置项目封面20200202
        var j, len
        for (j = 0, len = this.templateList.length; j < len; j++) {
          if (obj && obj.templateCode == this.templateList[j].code) {
            obj.cover = this.templateList[j].cover
            break
          }
        }
      }

      doData(obj).then((res) => {
        app.actionInfo.confirmLoading = false
        if (!checkResponse(res)) {
          return
        }
        app.form.resetFields()
        app.newData = { id: 0 }
        app.actionInfo.modalStatus = false
        app.init()
      })
    },
    handleSearchSubmit() {
      const app = this
      app.searchForm.validateFields((err) => {
        if (!err) {
          app.search()
        }
      })
    },
    search() {
      const obj = this.searchForm.getFieldsValue()
      Object.assign(this.requestData, obj)
      this.init()
    }
  }
}
</script>

<style lang="less">
@import "~ant-design-vue/lib/style/themes/default";

.project-list-index {
  .project-list {
    .ant-list-item-meta-avatar {
      .ant-avatar {
        width: 50px;
        height: 50px;
        border-radius: 3px;
      }
    }

    .ant-list-item-content {
      .other-info {
        display: flex;

        .info-item {
          display: flex;
          flex-direction: column;
          padding-left: 48px;
        }

        .schedule {
          width: 250px;
        }
      }
    }

    .ant-list-item-action {
      .anticon:hover {
        svg {
          color: @primary-color;
        }
      }
    }
  }
}
</style>
