<template>
  <div class="login">
    <el-form ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form">
      <h3 class="title">DSP研究室后台管理系统</h3>
      <el-form-item prop="username">
        <el-input
          v-model="loginForm.username"
          type="text"
          auto-complete="off"
          placeholder="账号"
        >
          <svg-icon slot="prefix" icon-class="user" class="el-input__icon input-icon" />
        </el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input
          v-model="loginForm.password"
          type="password"
          auto-complete="off"
          placeholder="密码"
          @keyup.enter.native="handleLogin"
        >
          <svg-icon slot="prefix" icon-class="password" class="el-input__icon input-icon" />
        </el-input>
      </el-form-item>
      <el-form-item v-if="captchaOnOff" prop="code">
        <el-input
          v-model="loginForm.code"
          auto-complete="off"
          placeholder="验证码"
          style="width: 63%"
          @keyup.enter.native="handleLogin"
        >
          <svg-icon slot="prefix" icon-class="validCode" class="el-input__icon input-icon" />
        </el-input>
        <div class="login-code">
          <img :src="codeUrl" class="login-code-img" @click="getCode">
        </div>
      </el-form-item>
      <el-checkbox v-model="loginForm.rememberMe" style="margin:0px 0px 25px 0px;">记住密码</el-checkbox>
      <el-form-item style="width:100%;">
        <el-button
          :loading="loading"
          size="medium"
          type="primary"
          style="width:100%;"
          @click.native.prevent="handleLogin"
        >
          <span v-if="!loading">登 录</span>
          <span v-else>登 录 中...</span>
        </el-button>
        <div v-if="register" style="float: right;">
          <router-link class="link-type" :to="'/register'">立即注册</router-link>
        </div>
      </el-form-item>
    </el-form>
    <!--  底部  -->
    <div class="el-login-footer">
      <span>Copyright © 2021-2022 konbai.work All Rights Reserved.</span>
    </div>
  </div>
</template>

<script>
import { getCodeImg } from '@/api/login'
import Cookies from 'js-cookie'
import { encrypt, decrypt } from '@/utils/jsencrypt'
import { Login } from '@/api/user'
import { _checkLogin } from '@/api/user'
import { checkResponse, createRoute } from '@/assets/js/utils'
import { getStore } from '@/assets/js/storage'
import config from '@/config/config'

export default {
  name: 'Login',
  data() {
    return {
      codeUrl: '',
      loginForm: {
        username: 'admin',
        password: 'admin123',
        rememberMe: false,
        code: '',
        uuid: ''
      },
      loginRules: {
        username: [
          { required: true, trigger: 'blur', message: '请输入您的账号' }
        ],
        password: [
          { required: true, trigger: 'blur', message: '请输入您的密码' }
        ],
        code: [{ required: true, trigger: 'change', message: '请输入验证码' }]
      },
      loading: false,
      // 验证码开关
      captchaOnOff: true,
      // 注册开关
      register: false,
      redirect: undefined

    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  created() {
    this.getCode()
    this.getCookie()
  },
  methods: {
    getCode() {
      getCodeImg().then(res => {
        this.captchaOnOff = res.data.captchaOnOff === undefined ? true : res.data.captchaOnOff
        if (this.captchaOnOff) {
          this.codeUrl = 'data:image/gif;base64,' + res.data.img
          this.loginForm.uuid = res.data.uuid
        }
      })
    },
    getCookie() {
      const username = Cookies.get('username')
      const password = Cookies.get('password')
      const rememberMe = Cookies.get('rememberMe')
      this.loginForm = {
        username: username === undefined ? this.loginForm.username : username,
        password: password === undefined ? this.loginForm.password : decrypt(password),
        rememberMe: rememberMe === undefined ? false : Boolean(rememberMe)
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          if (this.loginForm.rememberMe) {
            Cookies.set('username', this.loginForm.username, { expires: 30 })
            Cookies.set('password', encrypt(this.loginForm.password), { expires: 30 })
            Cookies.set('rememberMe', this.loginForm.rememberMe, { expires: 30 })
          } else {
            Cookies.remove('username')
            Cookies.remove('password')
            Cookies.remove('rememberMe')
          }
          // ruoyi的前端登陆，通过store的action调用login
          this.$store.dispatch('Login', this.loginForm).then(() => {
            this.$router.push({ path: this.redirect || '/' }).catch(() => {})
          }).catch(() => {
            this.loading = false
            if (this.captchaOnOff) {
              this.getCode()
            }
          })
        }
      })
      this.dealDataBeforeLogin()
    },
    /*
     * 这是mk-ui的login登陆，为了便于访问mk-server，这里一起设置一下。正式版本需要移除 TODO xuth 20221012
     */
    handleSubmit0() {
      const loginParams = {
        // remember_me: true,
        account: 'admin',
        password: 'e10adc3949ba59abbe56e057f20f883e'
        // clientid: '0'
      }
      console.log(loginParams)

      // 使用账户密码登录
      // if (app.customActiveKey === 'tab_login') {
      // 使用手机号登录
      // } else {
      //   app.form.validateFields(['mobile', 'captcha'], {force: true}, (err, values) => {
      //     if (!err) {
      //       flag = true;
      //       loginParams = Object.assign(loginParams, values)
      //     }
      //   })
      //
      // loginParams.clientid = getStore('client_id')
      Login(loginParams).then(res => {
        if (checkResponse(res)) {
          loginParams.token = res.token
          this.dealDataBeforeLogin(res)
        }
      })
    },
    checkLogin() {
      _checkLogin().then(res => {
        this.dealDataBeforeLogin(res)
      })
    },
    // 提前操作的数据处理
    async dealDataBeforeLogin() {
      const app = this
      // if (res.data) {
      //   const obj = {
      //     userInfo: res.data.member,
      //     tokenList: res.data.tokenList
      //   }
      //   // let currentOrganization = '6v7be19pwman2fird04gqu53'
      //   let currentOrganization = getStore('currentOrganization', true)
      //   console.log(currentOrganization)
      //   const organizationList = res.data.organizationList
      //   await app.num()
      //   await app.num1()
      //   await app.$store.dispatch('SET_LOGGED', obj)
      //   console.log(getStore('tokenList'))
      //   console.log(getStore('userInfo'))
      //   console.log(app.$store.state.logged)
      //   await app.$store.dispatch('setOrganizationList', organizationList)
      //   console.log(getStore('organizationList'))
      //   if (!currentOrganization) {
      //     currentOrganization = organizationList[0]
      //   } else {
      //     const has = organizationList.findIndex(item => item.id == currentOrganization.id)
      //     if (has === -1) {
      //       currentOrganization = organizationList[0]
      //     }
      //   }
      //   await app.$store.dispatch('setCurrentOrganization', currentOrganization)
      await app.$store.dispatch('GET_MENU')// .then(() => {
      //  app.loginSuccess(res, currentOrganization)
      // })
      // } else {
      //  app.oauthLoading = false
      //  app.$store.dispatch('SET_LOGOUT')
      app.$router.replace('/login?redirect=' + this.$router.currentRoute.fullPath)
    },
    async num() {
      console.log('do num')
    },
    async num1() {
      console.log('do num1')
    },
    loginSuccess(res, org) {
      const menu = getStore('menu', true)
      if (menu) {
        const routes = this.$router.options.routes
        menu.forEach(function(v) {
          routes[0].children.push(createRoute(v))
          if (v.children) {
            v.children.forEach(function(v2) {
              routes[0].children.push(createRoute(v2))
              if (v2.children) {
                v2.children.forEach(function(v3) {
                  routes[0].children.push(createRoute(v3))
                })
              }
            })
          }
        })
        this.loginBtn = false
        this.$router.addRoutes(routes)
        let redirect = this.$route.query.redirect || config.HOME_PAGE + '/' + org.code
        if (redirect == config.HOME_PAGE) {
          redirect = config.HOME_PAGE + '/' + org.code
        }
        console.log('redirect')
        console.log(redirect)
        this.$router.push({
          path: redirect
        })
        this.oauthLoading = false
      }
    }

  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url("../assets/images/login-background.jpg");
  background-size: cover;
}
.title {
  margin: 0px auto 30px auto;
  text-align: center;
  color: #707070;
}

.login-form {
  border-radius: 6px;
  background: #ffffff;
  width: 400px;
  padding: 25px 25px 5px 25px;
  .el-input {
    height: 38px;
    input {
      height: 38px;
    }
  }
  .input-icon {
    height: 39px;
    width: 14px;
    margin-left: 2px;
  }
}
.login-tip {
  font-size: 13px;
  text-align: center;
  color: #bfbfbf;
}
.login-code {
  width: 33%;
  height: 38px;
  float: right;
  img {
    cursor: pointer;
    vertical-align: middle;
  }
}
.el-login-footer {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
.login-code-img {
  height: 38px;
}
</style>
